#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 32px;
}

#container strong {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 600;
  color: #2D3436;
}

#container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #A0A8B0;
  margin: 8px 0 0;
}

#container a {
  text-decoration: none;
  color: var(--ion-color-primary);
  font-weight: 500;
}